[class*=icon-] {
	background-repeat: no-repeat;
	background-position: center;
}

.icon-nike-circle{
	background-image: url(../image/post/round-done-button2.png);
	background-size: 20px;
}

.icon-nike-circle.active{
	background-image: url(../image/browse/round-done-button-1.png);
}