#main {
	-webkit-touch-callout: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.img-frm,
.img {
	width: 62px;
	height: 62px;
	background-color: rgba(193, 193, 193, 0.2);
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sing {
	width: 15px;
	height: 20px;
	background-image: url(../image/browse/location.png);
	background-size: cover;
}

.calendar {
	width: 15px;
	height: 17px;
	background-image: url(../image/browse/rili.png);
}

.ic {
	background-image: url(../image/chat.png);
	padding-right: 2px;
}

.sing,
.calendar,
.ic {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 5px;
}

.co {
	color: #EAEBEF;
}

.op {
	color: #33BBB2;
}

.op,
.co {
	margin-top: 7px;
}

.co {
	color: #EAEBEF;
}

.completed {
	background-color: #EAEBEF;
	color: #EAEBEF;
}

.open {
	background-color: #33BDB5;
	color: #33BBB2;
}

.completed,
.open {
	font-size: 10px;
	text-align: center;
	height: 7px;
	width: 90px;
	border-radius: 60px;
	margin: 0 10px;
}

.ter-t {
	color: #D60C34;
}

.text {
	font-size: 12px;
	color: #B0B1B3;
	margin-bottom: 10px;
}

.money {
	text-align: center;
	padding-top: 20px;
	font-size: 60px;
	color: #33BBB2;
	position: relative;
}

.sp {
	font-size: 30px;
	color: #33BBB2;
}

.money .sp {
	width: 39px;
	text-align: right;
	position: absolute;
	top: 22px;
	left: -40px;
}

.title {
	background-color: #EAEBEF;
	text-align: center;
	color: #9A9FA2;
	padding: 3px 0;
}

.star-com,
.star {
	background-image: url(../image/post/wujiaoxig.png);
}

.star,
.star-solid {
	width: 25px;
	height: 25px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.star-com,
.star-com-solid {
	width: 12px;
	height: 12px;
	background-size: 10px 10px;
	background-repeat: no-repeat;
	background-position: center;
}

.star-com-solid,
.star-solid {
	background-image: url(../image/star.png);
}
.pencil, .trash{
	width: 25px;
	height: 20px;
	margin-top: 7px;
	background-repeat: no-repeat;
	background-position: center;
}
.pencil {
	background-size: 15px 15px;
	background-image: url(../image/pen-edit.png);
	
}
.trash{
	background-size: 15px;
	background-image: url(../image/browse/tran_can.png);
}

.left {
	background-image: url(../image/back.png);
	margin-right: 6px;
}

.left,
.right {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 8px 14px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background-color: #CFDBD9;
}

.right {
	background-image: url(../image/back.png);
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	margin-left: 5px;
}


/*评论的样式*/

.header-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #CFDBD9;
}

.img-reply {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #CFDBD9;
}

.comment {
	word-break: break-word;
	word-wrap:break-word;
	padding: 0 10px;
}

[id*=comments],
#comments {
	padding: 10px 15px 6px 5px;
	border-bottom: 1px solid #E9E9E9;
	margin-bottom: 9px;
}

.reply,
.text2 {
	font-size: 12px;
	color: #CCCCCC;
}

.reply {
	color: #91989C;
	font-size: 12px;
	padding-top: 15px;
}


/*
 * ongoing连线的样式
 */

.ongiong-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width:60px;
	height:60px;
	border-radius: 50%;
	background-color: #CFDBD9;
}


/*5人连线头像*/

.ongiong-icon1 {
	width: 37px;
	height: 37px;
}


/*4-2*/

.ongiong-width {
	width:60px;
	height: 120px;
}


/*5人连线*/

.ongiong-width1 {
	width: 35px;
	height: 80px;
}
.not-border {
	border-top: 2px solid #33BAB0;
	position: relative;
	top: 35px;
	z-index: 1;
}


.bor-cri {
	border: 2px solid #33BAB0;
}

.ongoing-name {
	text-align: center;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
}

.ongoing {
	background-color: #EFF9F8;
	padding: 10px 15px;
	border-radius: 10px;
}

/*end*/

.name,
.text4 {
	font-size: 12px;
	color: #33BBB2;
}

.name {
	text-align: center;
	width: 70px;
}

.btn-assigned .btn-close {
	height: 25px;
	width: 25px;
	background-color: #EFCE4A;
	background: url(../image/zu-2.png) no-repeat center / cover;
	border-radius: 25px;
	position: relative;
	left: 11px;
}

.btn-assigned {
	background-color: #F0CD4B;
}

.btn-a {
	text-align: center;
	font-size: 12px;
	margin-top: 5px;
	line-height: 26px;
	padding: 3px 15px;
	border-radius: 25px;
}

.btn-accept {
	background-color: #33BAB0;
}

.accept {
	color: white;
}

.btn-back {
	background-color: #81A9A5;
}

.foot {
	background-color: #EAEBED;
	width: 100%;
	padding: 10px 0;
	position: fixed;
	bottom: 0px;
	z-index: 999;
}

.emoji {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	background-size: cover;
	background-image: url(../res/chatBox/face1.png);
}

.check-more {
	background-image: url(../res/chatBox/add2.png);
}

.check-more,
.more {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-left: 8px;
}

.more {
	background-image: url(../res/chatBox/add1.png);
}

input[type="text"] {
	border: 1px solid #DCDCDC;
	background-color: white;
	width: 100%;
	height: 30px;
}

.list {
	border-bottom: 1px solid #DEE0E1;
	padding: 0 15px;
}

.close {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../image/zu-2.png);
}

.album {
	background-image: url(../res/chatBox/album1.png);
}

.album-c {
	background-image: url(../res/chatBox/album2.png);
}

.photo-c {
	background-image: url(../res/chatBox/cam2.png);
}

.photo-c,
.album-c,
.album,
.photo {
	width: 55px;
	height: 55px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.photo {
	background-image: url(../res/chatBox/cam1.png);
	margin-left: 10px;
}

.add-pic {
	width: 100%;
	height: 250px;
	background-color: #EAEBED;
	border-top: 1px solid #DEE0E1;
}

.pic {
	position: relative;
	z-index: 1;
	height: 100px;
	width: 100%;
	background: #fff;
	overflow: hidden;
	-ms-touch-action: none;
}

.pic>.pic-box {
	overflow: hidden;
}

.img-picture {
	width: 72px;
	height: 72px;
	border-right: 1px solid #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 15px 0;
}

.row {
	padding-top: 10px;
	padding-bottom: 4px;
}

.row .img-picture,
.row .picture {
	border-radius: 0;
}

ul li {
	position: relative;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 600px;
	height: 60px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	width: 100%;
}

#scroller li {
	display: block;
	float: left;
	height: 100px;
	text-align: center;
}

#scroller .img-frm {
	padding: 0 10px 0 0;
	border-right: 1px solid #E8E8EA;
	position: relative;
}

#scroller .img {
	background: mistyrose no-repeat center;
	background-size: cover;
	height: 85px;
	width: 85px;
}

#scroller ul li:last-child .img-frm {
	border: none;
}

#scroller h5 {
	padding-right: 10px;
}

.swich {
	overflow: hidden;
}

.expression {
	width: 25px;
	height: 25px;
}

.love {
	background-image: url(../image/browse/heart-line.png);
}

.loved {
	background-image: url(../image/browse/heart-bold.png);
}

.love,
.loved {
	position: absolute;
	right: 15px;
	top: 35px;
	width: 17px;
	height: 20px;
	margin: auto 12px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


/*
 * 按钮的样式
 */
/*退出按钮*/
.quit {
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	background-color: #D60C34;
}

.quit-icon {
	background-image: url(../image/more/qizi.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.mack {
	background-color: #33BBB2;
	border-radius: 25px;
	color: #FFFFFF;
	text-align: center;
}


/*chat*/
.week-1 {
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	background-color: white;
	border: 2px solid #33BBB2;
}
/*工作人数*/
.week {
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	background-color: #33BBB2;
	color: white;
	text-align: center;
}
/*difficulty*/
.dic {
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	background-color: white;
	border: 2px solid #33BBB2;
	color: #33BBB2;
	margin-left:2px;
}

.dic-1,
.dic-2 {
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	margin-left: 3px;
	background-color: #33BBB2;
	color: white;
	text-align: center;
	margin-left:2px;
}

.dic-2 {
	background-color: #EFCE4A;
}

.ic {
	background-image: url(../image/inbox/wecheat.png);
	background-size: 20px 20px;
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: right center;
	margin: 0 5px 0 0;
}

.map {
	width: 100%;
	height: 200px;
	position: relative;
}




/*
 * 过期的样式
 */

.ter-t {
	color: #D60C34;
}

.ter {
	border-radius: 18px;
	font-size: 12px;
	padding: 5px;
	background-color: #D60C34;
	color: white;
}
.task-t{
	color: #474747;
	font-size: 20px;
}
